<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<h1> My Awesome Site </h1>
{{{body}}}
<div>Don't steal this, it is amazing</div>
  </body>
</html>
